<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>VueJs</title>

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
  <div id="app">
    <span v-if="showElement" v-bind:title="message">
      Peek A Boo: {{ instrumento }}
    </span>

    <br/>
    <br/>
    <span>{{ message }}</span>
    <button v-on:click="reverseImage">Reverse message</button>

    <br/>
    <br/>
    <br/>
    <strong>Handling User Input</strong>
    <p>{{ message }}</p>
    <input v-model="message">

    <br/>
    <br/>
    <ol>
      <li v-for="(todo, index) in todos" :key="index">
        [{{index}}] - {{ todo.text }}
      </li>
    </ol>

    <button @click="removeItem">Remove Item</button>
    <button @click="modifyItem">Modify Item</button>
  </div>

  <script>
    const vm = new Vue({
      el: '#app',
      data: {
        _instrumento: 'Violão',
        showElement: true,
        message: 'Peek a chu?',
        todos: [
          { text: 'Learn Javascript'},
          { text: 'Learn Vue'},
          { text: 'Learn Node'},
        ]
      },
      methods: {
        reverseImage() {
          this.message = this.message.split('').reverse().join('');
        },
        removeItem() {
          this.todos.pop();
        },
        modifyItem() {
          // only this line cannot guarantee reactivity
          this.todos[0] = { text: 'Learn C++' };

          // To perform reactivity
          this.$set(this.todos, 0, { text: 'Learn C++' });
        }
      }
    })

  </script>
  
</body>
</html>